- var phone = '+7(495)938-28-67'
- var fax = '+7(499)135-61-59'
- var email = 'matmodel2013@gmail.com'
- var address = 'г. Москва, ул. Вавилова, дом 40, 3-й этаж, конференц-зал'

block pageVars

mixin sendEmail(text,topic)
	#send-email
		a(href=`mailto:matmodel2013@gmail.com?subject=${topic}`) #{text}

mixin seminarList(...seminars)
	#seminars-list
		ul
			each s in seminars
				li #{s.date}

mixin grantsList(...grants)
	#grants-list-wrapper
		ol#grants-list
			each g in grants
				li #{g.id} <em>«#{g.title}»</em> (#{g.years[0]}-#{g.years[1]})
				p
					b руководитель проекта: #{g.head}

doctype html
html(lang="ru-RU")
	head
		style(type="text/css")
			include ../css/default.css
		block head
		title #{title}
	body
		include navigation.pug
		#content
			block content
